body {
    background-color: #FCEADE;
    color: #8e4f4a;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/background-beetroot.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    flex-direction: column;
    opacity: ;
} 

screen

.headerfooter {
    text-align: center;
}

.Nora {
    text-align: right;
}

.navigation {
    border-style: dotted;

}

img { width: 200px;}