body {
    background-color: #FCEADE;
    color: #8e4f4a;
    font-family: Arial, Helvetica, sans-serif;
} 

screen

.topics {
    text-align: center;
    /* cant manage to put the text in the center */
}

.nora {
    text-align: right;
}

.navigation {
    border-style: dotted;
    background-image: url("../img/background-beetroot.png");
    background-size: 50px;
}

table{
    background-image: url("../img/background-beetroot.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background-color: burlywood;
    width: 25%;
    border: 1px solid black;
}

td{
    text-align: left;
    vertical-align: top;
    padding: 15px;
    border: 1px solid black;
}

img { width: 200px;}